<!-- Generated template for the FeedItemComponent component -->
<div class="feed-item">
    <ion-grid>
        <ion-row>
          <ion-col>
            <h6>DON'T MISS OUT!</h6>
          </ion-col>
          <ion-col class="buttonshop">
            <button ion-button end>SHOP NOW</button>
          </ion-col>
        </ion-row>
        <div class="img-item">
          <img padding="5px" src="assets/imgs/sale.jpg">
        </div>
        <ion-row>
          <ion-col>
            <p>*Selected styles and colours listed. Prices as marked. Subject to terms and conditions.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>
