product-items {
    .item{
        text-align: left;

        h6{
            margin-top: 0px;
            margin-bottom: 15px;
        }
        p{
            margin-top: -18px
        }
    }

    .button-like{
        position: absolute;
        top: 55px;
        height: 30px;
        width: 30px;
        left: 127px;
        background-color: white;

        ion-icon{
            font-size: 30px;
        }
    }

}
