slider-item {
    .slider-item{
        padding: 6px;
        text-align: left;

        h6{
            margin: 0px;
        }

        p{
            margin: 0px;
            font-size: 12px;
        }
    }
}
