<!-- Generated template for the SlideMenuComponent component -->
<div>
  <ion-slides #ProductSliderOne>
    <!-- slide item 1 -->
    <ion-slide>
      <h6>ALL</h6>
    </ion-slide>
    <!-- slide item 2 -->
    <ion-slide>
      <h6>DRESSES</h6>
    </ion-slide>
    <!-- slide item 3 -->
    <ion-slide>
      <h6>TOPS</h6>
    </ion-slide>
    <!-- slide item 4 -->
    <ion-slide>
      <h6>PANTS</h6>
    </ion-slide>
    <!-- slide item 5 -->
    <ion-slide>
      <h6>T-SHIRTS&SINGLETS</h6>
    </ion-slide>
    <!-- slide item 6 -->
    <ion-slide>
      <h6>JEANS</h6>
    </ion-slide>
    <!-- slide item 7 -->
    <ion-slide>
      <h6>COATS & JACKET</h6>
    </ion-slide>
    <!-- slide item 8 -->
    <ion-slide>
      <h6>SWEATS & HOODIES</h6>
    </ion-slide>
    <!-- slide item 9 -->
    <ion-slide>
      <h6>SKIRTS</h6>
    </ion-slide>
  </ion-slides>
</div>