<!-- Generated template for the CollItemComponent component -->
<div class="item-coll">
  <ion-grid>
    <h6>FANCY STATE OF MIND</h6>
    <P>You're got the occasion</P>
    <ion-row>
      <div>
        <img src="assets/imgs/coll-item.png">
      </div>
      <ion-col>
        <img src="assets/imgs/coll-item1.jpg">
        <div class="item">
            <h6>Atoir</h6>
              <p class="overflow-ellipsis">Beyond The Mood<br>
              $439.95</p>
              <h5 style="color:#32bed3">NEW</h5>
            </div>
      </ion-col>
      <ion-col>
        <img src="assets/imgs/coll-item2.jpg">
        <div class="item">
        <h6>Atoir</h6>
          <p class="overflow-ellipsis">Beyond The Mood<br>
          $439.95</p>
        </div>
      </ion-col>
      <ion-col>
        <img src="assets/imgs/coll-item3.jpg">
        <div class="item">
            <h6>Atoir</h6>
              <p class="overflow-ellipsis">Beyond The Mood<br>
              $439.95</p>
            <h5 style="color: red">SALE</h5>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>